.button
  text-decoration none
  white-space nowrap
  cursor pointer
  border-radius 2px
  border none transparent
  padding 0.5em 1em
  color #000
  background-color #e6e6e6
  display inline-block

.button.primary-button
  border 1px solid
  background-color #0078e7
  color white
  border-color #0078e7
