menu-background = #272F32
border-radius = 4px
menu-color = #E2E2E2
content-background = #FBFBFB
body-background = white
blue-color = #0A83DC
muted = #737373
standard-padding = 36px
standard-mobile-padding = 24px
menu-height = 39px
border-color = #dedede
content-width = 1170px
error-notification-background = #f2dede
error-notification-foreground = #a94442
dropdown-focus-color = #3F9BFA
main-top-padding = 64px

rounded-corners()
  border-radius border-radius

rounded-corners-top()
  border-radius border-radius border-radius 0px 0px

rounded-corners-bottom()
  border-radius 0px 0px border-radius border-radius

unstyled-list()
  list-style none
  margin 0
  padding 0
