input
  padding 0.5em 0.6em
  display inline-block
  border 1px solid #ccc
  box-shadow inset 0 1px 3px #ddd
  border-radius 4px
  background-color white
  color black

input[type="button"],input[type="image"]
  border 0
