@require '../_common'
@require '../_button'

:host
  width 100%

  h1
    margin 0
    padding 12px 0

  hr
    background-color border-color
    margin 0

  #groups-toolbar
    display flex
    align-items center

  #new-group-button
    margin-left auto

  #groups-tabs
    position sticky
    width 100%
    z-index 10
    user-select none
    background-color white

    ul
      margin 0
      padding 0
      list-style-type none
      display flex
      border-bottom 1px solid border-color

    .tab
      padding 12px 16px
      border-bottom 2px solid transparent
      cursor pointer
      color #737373

      &.active
        color black
        border-bottom-color #0a83dc

  #groups-tab-content
    border-radius 0 0 4px 4px
    border 1px solid border-color
    border-top-width 0

  .empty-groups-tab-content
    padding 36px

  .group-container
    padding 0 36px

    &:last-child .group-inner
      border-bottom 0

  .group-inner
    display flex
    padding 36px 0
    border-bottom 1px solid border-color

    a
      text-decoration none
      color black

  .group-avatar-container
    margin-right 20px

  .group-name
    font-size 24px
    text-overflow ellipsis
    overflow hidden
    margin-bottom 8px
