@require '../_common'

:host
  padding-top main-top-padding

  #meet-pad
    rounded-corners()

    border 1px solid border-color
    background-color #fbfbfb

    h1
      margin-top 0

    & > :last-child
      margin-bottom 0

  .meet-meta
    hr
      background-color border-color
      margin 0

  #meet-title-container
    padding 36px
    padding-bottom 1.1rem

  #meet-title
    font-size 28px

  #meet-organizers
    margin-top 0.8em

    a
      text-decoration none
      color black

  #meet-time
    position relative
    padding 1.1rem 36px
    display flex
    align-items center

  #meet-location
    padding 1.1rem 36px

  #meet-location-inner
    cursor pointer
    display flex
    align-items center

  #attendees
    display flex
    align-items center
    padding 1.1rem 36px

  #attendance-controls
    margin-top 12px

    .spinner
      margin 0

  .meta-icon
    margin-right 0.75em

  #location-map-wrapper img
    rounded-corners()

    margin-top 1.1rem

  #meet-description-container
    padding 1.1rem 36px

    & > :first-child
      margin-top 0

