@require '../_common'
@require './_addAndEditMeet.styl'

:host
  padding-top main-top-padding

  #new-meet-view
    rounded-corners()

    padding main-top-padding
    border 1px solid border-color
    padding 36px
    background-color #fbfbfb

    h1
      margin-top 0

  #new-meet-form
    display grid
    grid-row-gap 1em
    grid-template-columns 50% 50%
    grid-template-rows auto
    grid-template-areas \
      "title title" \
      "location location" \
      "start ." \
      "end ." \
      "description description" \
      "hosts hosts" \
      "optional-settings optional-settings"

  #add-meet-input-title
    grid-area title

  #add-meet-location-group
    grid-area location

  #add-meet-input-location
    width 100%

  #add-meet-start
    grid-area start

  #add-meet-end
    grid-area end

  #add-meet-description-fieldset
    grid-area description

  #add-meet-hosts-fieldset
    grid-area hosts

  #add-meet-host-input
    width 100%

  #add-meet-buttons
    margin-top 2em
    display flex

    button
      &:first-child
        margin-left 0

      margin-left 4px

  legend
    font-size 1.5rem
    margin-bottom 0.5em
    color #333

  label
    display block
    margin-bottom 0.5em

  .typeahead-group
    position relative

  .typeahead-dropdown
    rounded-corners()

    position absolute
    border 1px solid rgba(0, 0, 0, 0.1)
    background-color white
    list-style none
    top 100%
    margin 0
    margin-top 2px
    padding 5px 0
    min-width 170px
    white-space nowrap
    z-index 1000

    li
      padding 3px 20px
      white-space nowrap
      cursor default

      &.active
        background-color dropdown-active-color
        color white

  #hosts
    rounded-corners()

    list-style none
    margin 0
    margin-top 1rem
    padding 0
    border 1px solid border-color
    background-color white

  .host
    display flex
    font-size 2em
    align-items center
    padding 1rem
    border-top 1px solid border-color

    &:first-child
      border 0

  .remove-host
    cursor pointer
    margin-right 0.25em

  .host-avatar
    rounded-corners()

    width 1em
    height 1em
    margin-right 0.5em

  #optional-settings
    grid-area optional-settings

  .optional-setting-heading
    display flex
    align-items center

  .optional-setting-checkbox
    margin-right 0.5em
    width 1em
    height 1em

  .optional-setting
    margin-top 0.5em

  .time-picker
    margin-left 0.5em

  #meet-location
    grid-area location
    width 50%

  #meet-location-address-container
    display flex
    align-items center
    width 100%

  #meet-location-change-button
    margin-left auto

  #meet-location-map
    rounded-corners()

    cursor pointer
    display block
    margin-top 0.5em
    width 300px
    height 187px
