@require '../_common'

:host
  width 100%

  #left-column
    overflow-y hidden
    z-index 10
    background white
    position fixed
    top 63px
    width 300px
    padding main-top-padding 36px

  #right-column
    width calc(100% - 300px)
    margin-left 300px

  #user-avatar
    width 100%
    border-radius 4px

  #user-names-container
    padding 16px 0

  #user-name
    font-size 26px
    font-weight 600
    line-height 30px

  #user-username
    font-size 20px
    font-weight 300
    line-height 24px

  .user-metadata
    &:first-child
      padding-top 0

  #user-info-tabs
    position sticky
    top 63
    padding-top main-top-padding
    z-index 10
    user-select none

    .tab
      padding 0 16px 14px
      border-bottom 2px solid transparent
      cursor pointer
      color #737373

      &.active
        color black
        border-bottom-color #0a83dc

  #user-info-tab-content
    border-radius 0 0 4px 4px

  .empty-user-info-tab-content
    padding 36px

  .group-container
    padding 0 36px

    a
      text-decoration none
      color black

    &:last-child
      .group-inner
        border-bottom 0

  .group-inner
    display flex
    padding 36px 0
    border-bottom 1px solid border-color

  .group-avatar-container
    margin-right 20px

  .group-name
    font-size 24px
    text-overflow ellipsis
    overflow hidden
    margin-bottom 8px

  #user-activity-header
    width 100%
    background-color #fbfbfb
    border-bottom 1px solid border-color
    z-index 1000

    ul
      display flex
      list-style none
      padding 0
      margin 0

    li
      padding 16px 16px 14px
      cursor pointer
      border-bottom 2px solid transparent
      color #737373

      &.active
        border-bottom-color #0a83dc
        color black

  .individual-meet
    padding 0 36px

    &:last-child
      .meet-container
        border-bottom 0

  .meet-container
    padding 36px 0
    display flex
    border-bottom 1px solid #d4d4d4
    color black

    div
      overflow hidden
      text-overflow ellipsis

  .meet-content
    overflow hidden
    text-overflow ellipsis

  .individual-meet
    a
      text-decoration none
      color black

  .meet-title
    font-size 28px
    margin-bottom 8px

  .meet-time
    font-size 24px
    margin-bottom 4px

  .meet-location
    font-size 24px
